.about-view-container {
  background-color: var(--background-slate);
  min-height: 100vh;

  color: white;

  p {
    width: 50%;
  }

  a {
    color: var(--sky-blue);
    text-decoration: underline;
  }

  img {
    width: 300px;
    height: 400px;
  }
}
