.tx-fetcher-container {
  align-items: center;
  gap: 10px;

  background-color: var(--header-gray);
  padding: 10px;
  border-radius: 5px;

  width: 210px;

  h3 {
    font-size: 1.2rem;
    user-select: none;
  }
}

.tx-fetcher-buttons {
  gap: 10px;
  #reset {
    background-color: var(--soft-red);
  }
}

.tx-fetcher-input-container {
  gap: 15px;

  background-color: var(--header-gray);
  padding: 10px;
  border-radius: 5px;

  width: 100%;
  label {
    font-size: 14px;
  }

  input {
    padding: 10px;
    border-radius: 5px;
    border: none;
  }

  .testnet-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--soft-orange);
    color: white;
    font-size: 12px;
    cursor: pointer;
    width: 50%;
    align-self: center;
  }
}

.tx-metadata {
  background-color: var(--header-gray);
  padding: 10px;
  border-radius: 5px;
}

.tx-details-container {
  align-items: center;
  gap: 25px;

  background-color: var(--header-gray);
  padding: 10px;
  border-radius: 5px;

  .tx-metadata-container {
    .tx-metadata {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      padding: 5px;
      max-width: 200px;
    }
  }

  .input-selection {
    align-items: center;
    gap: 5px;

    .txin-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      padding: 5px;
      max-width: 200px;
    }

    .txin-item:hover {
      color: var(--soft-orange);
      background-color: var(--input-gray);
      border-radius: 5px;
      cursor: pointer;
    }

    .txin-item.active {
      color: var(--soft-orange);
    }
  }
}

.demo-txs-container {
  align-items: center;

  border: 1px solid var(--soft-purple);
  border-radius: 5px;
  padding: 10px;

  .demo-txs-title {
    font-size: 14px;
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 12px;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
    }

    li.active {
      color: var(--soft-orange);
    }

    li:hover {
      color: var(--soft-orange);
      cursor: pointer;
      background-color: var(--input-gray);
    }
  }
}
