.debug-controls-container {
  color: white;
  justify-content: flex-start;
  align-items: center;

  .control-dock {
    align-items: center;
    justify-content: center;
    gap: 7.5px;

    padding: 5px;
    border-radius: 5px;
    background-color: var(--header-gray);

    svg {
      padding: 2px;
    }

    svg:hover {
      cursor: pointer;
      background-color: var(--input-gray);
      border-radius: 5px;
      padding: 2px;
    }
  }
}
