.stack-view-container {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;

  background-color: #141414;
}

.stack-details-container {
  gap: 10px;
  color: white;

  .details-item {
    background-color: var(--input-gray);
    border-radius: 5px;

    padding: 5px;
  }
}

.stack-container {
  gap: 10px;
  align-items: center;

  .stack-title {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .stack-items {
    flex-direction: column-reverse;
    align-items: center;
    min-height: 150px;
    min-width: 115px;
    font: 1.1rem / normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
    color: var(--sky-blue);

    background-color: var(--input-gray);
    border-radius: 5px;
    padding: 5px;
  }
}

.next-arg-container {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* For hex strings that can get big...*/
.hex-string {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
