.tx-builder-view-container {
  background-color: var(--background-slate);
  height: 100vh;

  color: white;
}

.tx-input-form {
  border: 1px solid var(--soft-purple);
  padding: 10px;
  border-radius: 5px;
}

.tx-output-form {
  border: 1px solid var(--soft-orange);
  padding: 10px;
  border-radius: 5px;
}